body {
    padding-top: 80px;
    background-image: url("./IMG_2021.jpg");
    background-color: #cccccc;
    height: 2550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.card {
    border: 5px solid rgb(71, 68, 68);
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(0, 0, 0);
    text-shadow: 2px red;
    transition: 0.7s;
}

h1::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #ffffff;
    width: 50%;
    margin-left: 0px;
    top: 50%;
}

.card:hover {
    padding: 25px;
    background-color: rgb(155, 155, 150);
    box-shadow: 5px 10px 18px rgb(201, 110, 6);
    transition: 0.2s;
}

h1::before {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #ffffff;
    width: 50%;
    margin-left: -750px;
    top: 50%;
}

.h1:hover {
    color: greenyellow;
}

.h1 {
    position: relative;
    top: -65px;
    left: 500px;
    font-size: 85px;
    color: #f3ecec;
}

.show-cart li {
    display: flex;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}